
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Helpers
@import "helpers";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*** Social Media START ***/
ul.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 0px; /* eliminate space between li */
  background-image: url('../images/metal.jpeg');
  display: flex;
  align-items: center;
}

ul.social-media-list img {
  padding: 5px;
  background-color: #000;
  width: 32px;
  height: 32px;
}

ul.social-media-list img:hover {
    background-color: #0c98c7;
}

ul.social-media-list li {
  display: inline-block;
}

ul.social-media-list li em:before {
  content: "Follow Us:";
  width: 82px;
  height: 32px;
  background-color: #000;
  color: #a7a7a7;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
/*** Social Media END ***/

/*** Navbar START ***/
@media (min-width: 768px) {
  #navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  #hide-logo {
    display: none;
  }
}

.container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin: -1px -16px 0 -16px;
}

div .container-fluid {
  background-color: #000;
}

.navbar-toggle {
  border-color: #888888;
  .icon-bar {
    background-color: #888888;
  }
}

.nav > li > a > img {
  width: 250px;
}

/*#navbar-primary .navbar-nav > li:hover {
  background-color: #383838;
}*/
/*** Navbar END ***/

/*** Footer START ***/

.metal {
  background-image: url('../images/metal.jpeg');
  padding-top: 50px;
}

footer {
	background-color: #000;
  color: #fff;
//	right: 0;
//	bottom: 0;
//	left: 0;
  text-align: center;
  display: block;
}

footer p {
  padding: 30px;
  margin: 0;
}
/*** Footer END ***/

/*** Contact START ***/
#contact-h1 {
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: 30px;
}

#contact-bottom {
  margin-bottom: 30px;
}
/*** Contact END ***/

/*** Google Maps START ***/
#map {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    background-color: grey;
    border-radius: 5px;
}

p > iframe {
  width: 100% !important;
  height: 450px !important;
}
/*** Google Maps END ***/
